/* some code */
*{
    padding: 0;
    margin: 0;
}
.nav{
  
    background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
    background-blend-mode: soft-light, screen, darken, normal;
    height: 60px;
    z-index: 999;
    top: 0;
}
.nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.nav ul li{
    background: #00f5f5;
    padding: 5px 20px;
    border-radius: 15px 3px;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}